.conda/
.local/
.vscode/
scratch/
result
.galenv-sys
*.log

# Select from https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info

# Jupyter Notebook
.ipynb_checkpoints
